* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.App {
  text-align: center;

  height: 100vh;

  position: relative;
}

h1, h2, h3, p {
  color: #615b5b;
  font-style: italic;
  /* font-weight: ; */
}




